@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:wght@400;700&family=Grape+Nuts&family=Work+Sans:wght@200;300;400&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }
a{
  color: white;
  text-decoration: none;
}
li{
  list-style-type: none;
}
header {
  font-family: 'Work Sans', sans-serif;
}
  
main {
    /* Чтобы занимал оставшееся пространство */
  flex-grow: 1;
}
  
footer {
    /* Чтобы footer не уменьшался */
  flex-shrink: 0;
}
.upper-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 41px 20px 41px;
}
.contacts{
    display: flex;
    gap: 20px;
}
.telephone,
.mail{
    display: flex;
    color: white;
    gap: 6px;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.nav__menu{
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 24px;
}
.social-media{
    display: flex;
    gap: 17px;
}
.text_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: white;
  text-align: center;
  margin-top: 15vh;
}
.text_block .title{
  font-family: 'Abril Fatface', cursive;
  font-size: 84px;
  line-height: 65px;
}
.text_block .subtitle{
  font-family: 'Grape Nuts';
  font-style: bold;
  font-size: 64px;
  line-height: 39px;
}
.main .wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90vw;
  min-height: 90vh;
}
.choose{
  display: flex;
  justify-content: center;
}
.choose__menu{
  font-family: 'Work Sans';
  background-color: #0099A3;
  gap: 19px;
  font-size: 20px;
  max-width: 270px;
  margin-top: 20vh;
  display: flex;
  padding: 15px 150px;
  color: white;
  justify-content: center;
}
.choose__menu .flights:hover{
  border-bottom: 1px solid white;
}
.choose__menu .hotels:hover{
  border-bottom: 1px solid white;
}
.choose__menu .tours:hover{
  border-bottom: 1px solid white;
}
.booking{
  display: flex;
  color:#4B4B4B;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
.booking__menu,
.menu__from,
.menu__to,
.menu__dep-date,
.menu__return-date{
  display: flex;
}
.menu__from,
.menu__to{
  gap: 5px;
}
.menu__dep-date,
.menu__return-date{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.booking__menu{
  align-items: center;
  gap: 20px;
  padding: 30px;
}

input{
  color: #4B4B4B;
  font-size: 16px;
  font-family: 'Alegreya Sans';
  border: none;
  background: none;
  text-align: center;
}
.main .wrapper, .header{
    background-image: url(https://travel-quaint.com/userfiles/383/15166_5.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
.popular-destinations{
  background-image: url(https://www.mcgill.ca/oss/files/oss/styles/hd/public/blue-water-237687_1920.jpg?itok=3Sdt0_qb&timestamp=1580497594);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-blend-mode: screen;
  background-color: #bbb;
}
.popular-destinations .title{
  font-family: 'Grape Nuts';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
}
.popular-destinations .cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  justify-content: center;
  margin-top: 5vh;
}
.popular-destinations .card{
  display: flex;
  flex-direction: column;
}
.popular-destinations .card__text{
  padding: 10px 10px 15px 20px;
  background-color: #fff;
  max-width: 270px;
  display: flex;
  flex-direction: column;
}
.popular-destinations .card__title{
  font-family: 'Grape Nuts';
  font-weight: 400;
  font-size: 20px;
}
.popular-destinations .card__subtitle{
  max-width: 160px;
  font-family: 'Work Sans';
  font-weight: 200;
  font-size: 12px;
  margin-top: 5px;
}
.popular-destinations .card__price{
  font-family: 'Work Sans';
  font-weight: 200;
  font-size: 20px;
  align-self: flex-end;
}
.video-section{
  background-image: url(https://philippinesvip.com/assets/themes/main-60026/images/main/philippinesvip.com/base-1/1920x950.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-us{
  background-image: url(https://lh5.googleusercontent.com/p/AF1QipPKYTY7WwIfgP2liikDxPwAzewrxuw9Fxrxv_vE=s1600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-width: 100vw;
  min-height: 100vh;
  background-blend-mode: screen;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-us .title{
  margin-top: -10vh;
  font-family: 'Grape Nuts';
  font-size: 40px;
  text-align: center;
}
.why-us .cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 56px;
}
.why-us .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 288px;
  min-height: 297px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 5vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.why-us .card__title{
  margin-top: 1vh;
  font-family: 'Abril Fatface';
  font-size: 24px;
}
.why-us .card__subtitle{
  font-family: 'Work Sans';
  font-weight: 200;
  font-size: 22px;
  margin-top: 1vh;
  max-width: 233px;
}
.adventure{
  background-image: url(https://lh5.googleusercontent.com/p/AF1QipPKYTY7WwIfgP2liikDxPwAzewrxuw9Fxrxv_vE=s1600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-width: 100vw;
  min-height: 100vh;
  background-blend-mode: screen;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adventure .title, .adventure .card__title{
  font-family: 'Grape Nuts';
}
.adventure .title{
  text-align: center;
  font-size: 4em;
  margin-top: 3vw;
}
.adventure .card__subtitle{
  font-family: 'Work Sans';
  font-weight: 200;
}
.adventure .cards{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  margin-top: 3vw;
}
.card__image > img:not(.big){
  position: relative;
  max-width: 500px;
  max-height: 300px;
}
.big{
  max-width: 900px;
  max-height: 650px;
}
.adventure .card__button{
  position: absolute;
  margin-bottom: 20px;
  margin-left: 35vh;
  
}
.adventure .card{
  display: flex;
  align-items: flex-end;
}
.adventure .card__text{
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 300px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}
.adventure .card:first-child{
  grid-row-start: span 2;
}
.newsletter-and-awards{
  background-image: url(https://lh5.googleusercontent.com/p/AF1QipPKYTY7WwIfgP2liikDxPwAzewrxuw9Fxrxv_vE=s1600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  min-width: 100vw;
  min-height: 100vh;
  background-blend-mode: screen;
  background-color: #bbb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0 25vh;
}
.newsletter-and-awards .newsletter{
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 550px;
  max-width: 590px;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 9vh 10px;
}
.newsletter .title{
  font-family: "Abril Fatface";
  font-size: 28px;
  color: #282828;
}
.newsletter .subtitle{
  font-family: "Work Sans";
  max-width: 500px;
  font-size: 24px;
  font-weight: 200;
  margin-top: 2vh;
}
#email{
  margin-top: 2vh;
  background: rgba(255, 255, 255, 0.6);
  width: 400px;
  min-height: 48px;
}
#tel{
  margin-top: 3vh;
  background: rgba(255, 255, 255, 0.6);
  width: 400px;
  min-height: 48px;
}
.newsletter .subscribe{
  margin-top: 12vh;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}
.award .awards .cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-top: 2vh;
  justify-content: space-between;
}
.award .awards .cards img{
  max-width: 200px;
  max-height: 200px;
}
.award .awards .card{
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  align-items: center;
  gap: 12px;
}
.award .awards .card .card__title{
  font-weight: 700;
}
.award{
  display: flex;
  flex-direction: column;
}
.award .title{
  font-family: 'Grape Nuts';
  font-size: 40px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
}
.award .subtitle{
  font-family: 'Work Sans';
  font-size: 24px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  margin-top: 1vh;
  max-width: 400px;
}
.looking-for-exp{
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}
.looking-for-exp .container{
  background-image: url(https://lh5.googleusercontent.com/p/AF1QipPKYTY7WwIfgP2liikDxPwAzewrxuw9Fxrxv_vE=s1600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 0;

}
.looking-for-exp .title{
  font-family: Grape Nuts;
  font-size: 40px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.looking-for-exp .subtitle{
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  margin-top: 2vh;
  max-width: 410px;
  font-weight: 300;

  text-align: left;
}

.looking-for-exp button{
  background: #0099A3;
  border: 1px solid #FFFFFF;
  color: white;
  padding: 10px 20px;
  margin-top: 1vh;
  margin-left: 35vh;
}
